{% extends "epic/base_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extrahead %}
{{ block.super }}
{{ bom_form.media }}
<script src="{% static "epic/js/editing.js" %}"></script>
{% endblock extrahead %}

{% block content %}
{{ block.super }}

<form method="POST">
{% crispy bom_form %}

<div class="form-actions">
  <input type="submit" name="save" value="Save" class="btn btn-primary">
  <input type="submit" name="save-and-done" value="Save & Done"
	 class="btn btn-default">
  <a href="{{ cancel_url  }}" name="cancel" class="btn btn-default">Cancel</a>
</div>
</form>

<br>

{% endblock content %}
