{% extends "epic/base_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extrahead %}
{{ block.super }}
{{ part_form.media }}
{{ vendor_form.media }}
<script src="{% static "epic/js/editing.js" %}"></script>
<script src="{% static "epic/js/substitute-editor.js" %}"></script>
{% endblock extrahead %}

{% block content %}
{{ block.super }}

<form method="POST">
<div class="form-horizontal">
{% crispy part_form %}
</div>
{% crispy vendor_form %}

<div class="form-actions">
  <input type="submit" name="save" value="Save" class="btn btn-primary">
  <a href="{{ cancel_url  }}" name="cancel" class="btn btn-default">Cancel</a>
</div>
</form>

<br>

{% endblock content %}
